/** base css **/

body {
    font-family: 'Overpass', sans-serif;
    background:url('../img/sports.png') repeat;
	font-size: 16px;
}

a:focus {
    outline: none;
}

h1 {
    font-weight: bold;
}

h4 {
    margin-bottom: 20px;
}

.padding-left {
    padding-left: 0
}

.padding-right {
    padding-right: 0
}

.nav-top {
    background-color: #fff;
    margin-bottom: 0;
}

.nav-top li a {
    font-family: 'Overpass', sans-serif;
    color: #2f2f2f;
    font-size: 15px;
}

.top-header {
    background-color: #EF5858;
    font-size: 16px;
    color: #fff;
}

.top-header li a{
    color:#fff;
    padding-left: 10px;
}

.top-header li {
    padding-top: 10px;
}

.navbar-brand {
    height: auto !important;
}

.text-section {
    color: #ffffff;
    display: table-cell;
    left: 20%;
    margin-left: auto;
    position: absolute;
    text-align: left;
    top: 20%;
    width: 34%;
    z-index: 1;
    font-size: 16px;
    background: rgba(0,0,0,0.5);
    /* opacity: 0.8; */
    padding: 21px;
    line-height: 29px;
}

.text-section p {
    font-family: 'Open Sans', sans-serif;
}

.our-motivation {
    padding:75px 0;
}

.our-motivation p {
    line-height: 40px;
    font-size: 16px;
	font-weight: 300;
}
.margin-top-default{
	margin-top:15px;
}
/*.navbar-default .navbar-nav > .active > a, 
.navbar-default .navbar-nav > .active > a:hover, 
.navbar-default .navbar-nav > .active > a:focus {
    color: #fff;
    background-color: #5cc1af;
    border-radius: 4px;
}*/

.navbar-nav > li > a {
    padding-top: 8px;
    padding-bottom: 8px;
    line-height: 70px;
}

.top-section {
    margin-top: 13%;
}

.top-section h1  {
    font-family: 'Overpass', sans-serif;
    color:#434343;
}

.top-section p {
    font-size: 16px;
}

.btn-custom {
    background-color: #5cc1af;
    color: #fff;
    font-size: 16px;
    font-weight: 400;
    line-height: 42px;
    font-family: 'Overpass', sans-serif;
}

.btn-custom:hover {
   background-color: #439e8e;
   color:#fff; 
}

.top-section .btn-custom {
    margin-top: 30px;
}


.carousel-inner img {
    width: 100%;
}

.sports-marketing {
    background: #ef5858;
    padding: 57px 0;
    color:#fff;
}

.sports-marketing p {
    font-size:16px;
    line-height: 34px;
}

.sports-marketing  h4 {
    margin-bottom: 30px;
    font-size: 20px;
}

.sports-marketing img,
.sports-analytics img,
.get-recruited img{
    margin:0 auto;
}

.sports-analytics,
.get-recruited{
    padding: 75px 0;
}

.sports-analytics p,
.get-recruited p{
    font-size: 16px;
    font-family: 'Open Sans', sans-serif;
    line-height: 35px;
}

.get-recruited {
    background: #231f20;
    color: #fff;
}

.get-recruited-section {
    margin-top: 73px;
}

.opening-hours{
    background: #ef5858;
    color: #fff;
    padding: 30px;
}

.contact-section {
    padding:65px 0;
}

.btn-orange,
.btn-orange:hover,
.btn-orange:active,
.btn-orange:focus{
    background-color: #EF5858;
    color:#fff;
    font-size: 18px;
} 

.btn-orange-border,
.btn-orange-border:hover,
.btn-orange-border:active,
.btn-orange-border:focus{
    background-color: #fff;
    color:#333;
    font-size: 18px;
    border-color: #EF5858;
} 

.contact-section .form-control {
    height: 44px;
} 

.carousel-indicators {
    display: none;
}

/*.carousel {
    margin-top: 90px
}*/

.social-media {
    margin-top: 20px;
}
.social-media li .fa {
	color: #fff;
	font-size: 19px;
	padding-right: 8px;
}

/** signup section **/

.sign-in-section {
    margin-top:9%;
	margin-bottom: 6%;
}

.signin-border-bottom{
    border-top: 1px solid #ccc;
}

.sign-in-section .form-control {
    height: 44px;
}

.signup-box {
	background:url(../img/sign-up-bg.png) no-repeat center bottom #fff;
	background-size: 66%;
	padding: 20px 50px;
	box-shadow: 0px 6px 26px -7px rgba(0,0,0,0.2);
	border: 1px solid rgba(0,0,0,0.1);
	margin: 5% auto;
	float: none;
}
.dateofbirth {padding-right:10px;
	
}
.margin-top-fixed {
	margin-top: 72px;
	
}
.bg-search {
    background:#fff;
    padding: 20px;
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.1);
    margin-bottom: 40px;
}
.score-field .btn {
	margin-top: 24px;
}

.searchable-container{margin:20px 0 0 0}
.searchable-container label.btn-default.active, .searchable-container label.btn-default.focus	{
	background:#ef5858;
	color:#FFF;
	box-shadow:0px 0px 0px 0px;
}
.searchable-container label.btn-default {
	width: 100%;
	border: 2px solid #ef5858;
	margin: 14px;
	/* box-shadow: 5px 8px 8px 0 #ccc; */
	height: 59px;
	
}
.searchable-container label.btn-default:hover{
	border-color:#ef5858;
}
.searchable-container label .bizcontent{width:100%;}
.searchable-container .btn-group{width:100%}
.searchable-container .btn span.glyphicon{
    opacity: 0;
	transition: all ease 0.5s;
}
.searchable-container .btn.active span.glyphicon {
	opacity: 1;
	transition: all ease 0.5s;
	
}
.categorie-select {
	float: left;
	text-align: center;
	width: 100%;
	margin-top: 0px;
	transition: all ease 0.5s;
	cursor: pointer;
}
.active .categorie-select{
	margin-top: 0px;
	transition: all ease 0.5s;
}
.btn.btn-default.selectiable {
	width: 100%;
}
label.inner-label{
	font-size:15px;
	font-weight: 400;
	margin-top: 10px;
}

.home{padding-top:100px;}
.home .alert {
    margin-top: 45px;
}

/*
bootsnip*/

.content h1 {
	text-align: center;
}
.content .content-footer p {
	color: #6d6d6d;
    font-size: 12px;
    text-align: center;
}
.content .content-footer p a {
	color: inherit;
	font-weight: bold;
}

/*	--------------------------------------------------
	:: Table Filter
	-------------------------------------------------- */
.panel {
	border: 1px solid #ddd;
	background-color: #fcfcfc;
}
.panel .btn-group {
	margin: 15px 0 30px;
}
.panel .btn-group .btn {
	transition: background-color .3s ease;
}
.table-filter {
	background-color: #fff;
	border-bottom: 1px solid #eee;
}
.table-filter tbody tr:hover {
	cursor: pointer;
	background-color: #eee;
}
.table-filter tbody tr td {
	padding: 10px;
	vertical-align: middle;
	border-top-color: #eee;
}
.table-filter tbody tr.selected td {
	background-color: #eee;
}
.table-filter tr td:first-child {
	width: 38px;
}
.table-filter tr td:nth-child(2) {
	width: 35px;
}
.ckbox {
	position: relative;
}
.ckbox input[type="checkbox"] {
	opacity: 0;
}
.ckbox label {
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
.ckbox label:before {
	content: '';
	top: 1px;
	left: 0;
	width: 18px;
	height: 18px;
	display: block;
	position: absolute;
	border-radius: 2px;
	border: 1px solid #bbb;
	background-color: #fff;
}
.ckbox input[type="checkbox"]:checked + label:before {
	border-color: #2BBCDE;
	background-color: #2BBCDE;
}
.ckbox input[type="checkbox"]:checked + label:after {
	top: 3px;
	left: 3.5px;
	content: '\e013';
	color: #fff;
	font-size: 11px;
	font-family: 'Glyphicons Halflings';
	position: absolute;
}
.table-filter .star {
	color: #ccc;
	text-align: center;
	display: block;
}
.table-filter .star.star-checked {
	color: #F0AD4E;
}
.table-filter .star:hover {
	color: #ccc;
}
.table-filter .star.star-checked:hover {
	color: #F0AD4E;
}
.table-filter .media-photo {
	width: 35px;
}
body .table-filter .media-body {
	width: 100%;
    display: block;
	overflow: visible;
  
}
.table-filter .media-meta {
	font-size: 11px;
	color: #999;
}
.table-filter .media .title {
	color: #2BBCDE;
	font-size: 14px;
	font-weight: bold;
	line-height: normal;
	margin: 0;
}
.table-filter .media .title span {
	font-size: .8em;
	margin-right: 20px;
}
.table-filter .media .title span.pagado {
	color: #5cb85c;
}
.table-filter .media .title span.pendiente {
	color: #f0ad4e;
}
.table-filter .media .title span.cancelado {
	color: #d9534f;
}
.table-filter .media .summary {
	font-size: 14px;
}

.btn-block-hope {
	display: inline;
	margin: 20px 13px 15px 0px;
	float: left;
	padding: 2px 22px;
}
.ckbox {
	position: relative;
	/* display: inline-block; */
	float: left;
	margin-right: 14px;
}

/*Blog page css*/
 
.blog-0015 {
	font-size: 15px;
	font-weight: 300;
}
.blog-0015 h4 a{
	margin-bottom: 10px;
	color: #ef5858;
}
.blog-view p{ margin:15px 0}
article {
	background-color: #fff;
	padding: 10px;
	margin-bottom: 10px;
	margin-top: 10px;
	border: 1px solid #e8e8e8;
}
figure img{
    width: 100%;
   
}
.glyphicon-folder-open,
.glyphicon-user,
.glyphicon-calendar,
.glyphicon-eye-open,
.glyphicon-comment{
    padding: 5px;
}

.post
{
    background-color: #FFF;
    overflow: hidden;
    box-shadow: 0 0 1px #CCC;
}
.post img
{
    filter: blur(2px);
    -webkit-filter: blur(2px);
    -moz-filter: blur(2px);
    -o-filter: blur(2px);
    -ms-filter: blur(2px);
}
.post img:hover
{
    filter: blur(0px);
    -webkit-filter: blur(0px);
    -moz-filter: blur(0px);
    -o-filter: blur(0px);
    -ms-filter: blur(0px);
}
.post .content
{
    padding: 15px;
}
.post .author
{
    font-size: 11px;
    color: #737373;
    padding: 25px 30px 20px;
}
.post .post-img-content
{
    height: 196px;
    position: relative;
}
.post .post-img-content img
{
    position: absolute;
}
.post .post-title
{
    display: table-cell;
    vertical-align: bottom;
    z-index: 2;
    position: relative;
}
.post .post-title b
{
    background-color: rgba(51, 51, 51, 0.58);
    display: inline-block;
    margin-bottom: 5px;
    color: #FFF;
    padding: 10px 15px;
    margin-top: 5px;
}
.pagination > .active > a, .pagination > .active > span, .pagination > .active > a:hover, .pagination > .active > span:hover, .pagination > .active > a:focus, .pagination > .active > span:focus{
	background: #EF5858;
	color: #fff;
	border-color: #EF5858;
}
.pagination > li > a, .pagination > li > span{

	color:#EF5858;

}	



@media (max-width: 767px){ 

    .get-recruited-section {
        margin-top: 25px;
    }
        .margin-top {
        text-align: center;
    }

    .text-section {
        display: none;
    }

    .navbar-brand img {
        width: 50px;
    }

    .nav-top {
        min-height: 77px;
    }

    .navbar-toggle {
        margin-top: 19px;
    }

    .our-motivation {
    padding: 12px 0;
}

.contact-section {
    padding:0;
}

.navbar-nav > li > a {
    line-height: 25px;
}

.sports-marketing {
    padding:20px 0;
}
.sports-analytics, .get-recruited {
    padding: 20px 0;
}

}
.carousel-inner > .item{
	height: 468px;
}

@media only screen and (min-width: 1280px) and (max-width: 1700px)  {

    .text-section {
    width: 60%;
    top:8%;
}

}

div.panel-group {
	margin: 10px 0px;
	
}
@media only screen and (min-width: 1024px) and (max-width: 1360px)  {
	.text-section p {
    font-size: 14px;
}
	.text-section {
    left: 10%;
    width: 80%;
	top: 10%
}
}
@media only screen and (min-width: 320px) and (max-width: 1024px)  {
	
.text-section{display: none;}
.footer .text-muted{
    text-align: center;
	float: none;
	margin: 0 auto;
	}
	.social-media{ text-align: center}
}

.required:after{ 
    content:'*'; 
    color:red; 
    padding-left:5px;
}

.team-wraper {
    background-color: #fff;
    margin-top:150px;
    box-shadow: 0px 6px 16px 0px rgba(0,0,0,0.1);

}


.team-wraper table {
    margin-top: 30px;
}

.team-wraper table tr td {
    padding: 15px;
}

.team-wraper .btn {
    margin-top: 26px;
}

p.error-field {
    color: #A94442;
}