
@import url("custom-font.css");
html {
    position: relative;
    min-height: 100%;
}
body {
    font-family: 'open_sansregular';
    background: rgba(0, 0, 0, 0) url("../../img/bg.svg") no-repeat scroll center center / 100% auto;
    background-size: cover;

  /*  background: -moz-linear-gradient(45deg, #0e3012  0%, #598397  17%, #559ac9  26%, #559ac9  27%, #102840  39%, #102840  40%, #102840  42%, #102840  44%, #9c562b 54%, #c07f4b  63%, #c07f4b  67%, #c07f4b  68%, #5d1b09  78%, #5d1b09  80%, #5d1b09  82%, #ff3019  90%, #ff3019  91%, #ff3019  93%, #3f0803  100%); 
    background: -webkit-linear-gradient(45deg, #0e3012  0%,#598397  17%,#559ac9  26%,#559ac9  27%,#102840  39%,#102840  40%,#102840  42%,#102840  44%,#9c562b 54%,#c07f4b  63%,#c07f4b  67%,#c07f4b  68%,#5d1b09  78%,#5d1b09  80%,#5d1b09  82%,#ff3019  90%,#ff3019  91%,#ff3019  93%,#3f0803  100%); 
    background: linear-gradient(45deg, #0e3012  0%,#598397  17%,#559ac9  26%,#559ac9  27%,#102840  39%,#102840  40%,#102840  42%,#102840  44%,#9c562b  54%,#c07f4b  63%,#c07f4b  67%,#c07f4b  68%,#5d1b09  78%,#5d1b09  80%,#5d1b09  82%,#ff3019  90%,#ff3019  91%,#ff3019  93%,#3f0803  100%); 
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#0e3012 ', endColorstr='#3f0803 ',GradientType=1 );*/
}

.navbar {
    margin-bottom: 0;
}

.login-wraper {
    background: url('../../img/background-bg.png')no-repeat;
    background-size: cover;
}

.login-wraper > .container,
.login-wraper > .container-fluid,
.signup-wraper > .container{
    padding: 175px 15px 230px;
}

.btn-primary {
    background-color: #731c88;
    border-color: none;
}

.btn-primary:hover,
.btn-primary:focus {
    background-color: #611873;
}

.btn-large {
    font-size: 25px;
    padding: 15px 25px;
}

li.active > a {
   
    color: #e25125 !important;
   
}

.padding-zero {
    padding-left: 0;
    padding-right: 0;
}


/* LOGIN
-------------------------------------------------- */

h2 , h3{ font-family: 'oxygenbold'; }
.login-inner-wraper {
  background: #f0f0f0 none repeat scroll 0 0;
  border: 4px solid #ededed;
  margin-top: 15%;
  position: relative;
  width: 950px;
  border-radius: 15px;
}


.background-strip-top {
  background-size: 100%;
  bottom: -72px;
  float: left;
  height: 260px;
  left: 0;
  position: absolute;
  width: 100%;
  z-index: -1;
}

.login-left-bg {
   background: #fff;   
   padding-top: 87px;
   height: 100%;
   padding-left: 0;
   padding-right: 0;
   border-radius:15px 0px 0px 15px;
}

.call-phone h3 {
   color: #333;
}

.share-bottom {
  background: rgba(0, 0, 0, 0) url("../../img/cloud.png") no-repeat scroll center bottom;
  border-radius: 0 0 0 15px;
  padding-bottom: 1px;
  padding-top: 83px;
}
.call-us {
  color: #fff;
  margin-bottom: 0px;
  margin-top: 0;
}

.call-us-heading {
    font-size: 26px;
    font-weight: bold;
}

.call-phone {
    font-size: 16px;
    color: #fff;
}

.share-bottom ul {
    text-decoration: none;
    list-style: none;
}

.fa-social:before {
    background: url('../../img/social-share-sprite.png') no-repeat;
    padding:20px;
    content:"";
    display: inline-block;
    vertical-align: middle;

}

.fa-google:before {
    background-position: 3px 0;
}

.fa-fb:before {
    background-position: -47px 0;
}

.fa-tw:before {
    background-position: -93px 0;
}

.fa-in:before {
    background-position: -133px 0;
}

.follow-text {
    font-size: 16px;
    /*border-bottom: 1px dotted #cacaca;*/
    padding-bottom: 10px;
    margin-bottom: 20px;
    color:#cacaca;
    font-weight: 600;
}
.login-right-bg{ float: left;padding-right: 0px ; padding-left: 0px; } 

.login-right-bg h3 {
    font-size: 30px;
    color: #ebebeb
}

.user-login {
    font-size: 26px;
    border-bottom: 1px dotted  #cacaca;
    padding:25px;
    color:#333;
}
.top-right {
  float: left;
  width: 100%;
}

.login-section {
  display: inline-block;
  padding: 25px 50px;
  width: 100%;
}

.login-section label {
  color: #333;
  font-size: 14px;
  margin-left:15px;
  font-weight: normal;

}

.forget-text{
    color:#95979a;
}

.login-right-botom {
  border-top: 1px dotted #cacaca;
  color: #3b3b3b;
  float: left;
  font-size: 16px;
  height: 72px;
  line-height: 40px;
  margin-top: 20px;
  padding-bottom: 0;
  padding-top: 15px;
  width: 100%;
}

.login-right-botom ul {
  color: #cacaca;
  font-size: 14px;
  margin-bottom: 0;
}
.text-pink {
  color: #3cbcf3;
}


label.error {
    color: #711b4a !important ;
    text-align: left !important;
    width: 100%;
    position: fixed;
}


.right-inner-addon i {
    position: absolute;
    right: 10px;
    padding: 19px 12px;
    pointer-events: none;
}

.right-inner-addon {
    position: relative;
}

.fa-lock {
    font-size: 18px;
    color: #787878;
}

.fa-envelope,
.fa-user,
.fa-phone {
    color: #787878;
}

.form-control {
  background: #fff none repeat scroll 0 0;
  border: 1px solid #e2e2e2;
  border-radius: 58px;
  font-size: 14px;
  font-weight: 300;
  height: 44px;
  margin: 0 auto;
  width: 100%;
}

.logo {
    margin: 0 auto;
    margin-bottom: 60px;
}
.forgot.padding-zero {
  box-shadow: 0 0 8px 4px #636363 inset;
  color: #fff;
  margin-top: 30vh;
}
.btn-black, .btn-black_forgot {
  background: #F6851F;
  border-radius: 40px;
  color: #fff !important;
  font-size: 20px;
  font-weight: 600;
  height: 44px;
  outline: medium none;
  width: 180px !important;
}
.btn-black_forgot{ width: 370px; margin:0 auto;}
.btn-black:hover, .btn-black:focus{/* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#2b2b2b+0,131313+100 */
   background: #F6851F;
}

.fa-facebook-official {
    color: #fff;
    font-size: 38px;
    vertical-align: middle;
}
.address {
  font-size: 16px;
  line-height: 30px;
}

.btn-fb {
    background-color: #3b5998;
    color: #fff;
    border-radius: 0;
    text-align: left;
    padding-left: 30px;
    font-weight: bold;
    font-size: 22px;
    vertical-align: middle;
    padding-top: 10px;
    padding-bottom: 10px;
}

.btn-fb:hover,
.btn-fb:active,
.btn-fb:focus {
    background-color: #324b82;
    color: #fff;
}

.fb-btn-text {
    margin-left: 14px;
}

.login-text-bottom {
    font-size: 20px;
    font-family: 'Open Sans', sans-serif;
    word-spacing: 2px color: #3e3e3e;
    font-weight: 100;
}

.or-text {
    font-weight: bold;
    font-size: 20px;
}

.btn-margin-bottom,
.or-margin {
    margin-bottom: 0;
}

.signup-bold > a {
    font-weight: 600;
    color: #3e3e3e;
}

.message.error,
div.alert {
    position: absolute;
    width: 100%;
    float: left;
    right: 0;
    bottom: 0;
}



/* RESPONSIVE CSS
-------------------------------------------------- */

@media only screen and (min-width: 320px) and (max-width: 767px) {

    .left-contact{
        padding-left: 10px;
        padding-right: 10px;
    }

     .right-contact { 
        padding-left: 20px;
        padding-right: 20px;

     }

    .contact-box .form-group div{
        margin-bottom: 20px;
     }

    .university {
        left: 60px;
    }
    .contact-box h4 {
        padding-top: 20px;
    }
    .contact-box h3 {
        font-size: 23px;
    }

    .social-icon {
        margin-top: 119px;
        padding-bottom: 37px;
    }
    
    .footer {
        position: relative !important;
        height: auto !important;
    }

    body {
        margin-bottom: 0 !important;
    }

    .footer ul {
        text-align: center;
        margin: 10px 0;
    }

    .footer ul li a {
        margin-left: 0;
        margin-right: 0
    }

    .footer p {
        text-align: center;
        margin-bottom: 10;
    }

    .btn-fb,
    .btn-black,
    .login-text-bottom {
        font-size: 16px;
    }

    .fa-facebook-official {
        font-size: 30px;
    }

    .signup-heading {
        font-size: 49px;
    }

    .navbar-brand > img {
        padding: 5px;
    }

}



}
@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .navbar-default .navbar-nav > li {
        margin-left: 0;
    }

    .footer ul {
        margin-top: 14px;
    }

    .navbar-nav > li > a {
        padding: 8px 10px;
    }

    .footer ul li a {
        color: #fff;
        margin-left: 7px;
        margin-right: 5px;
    }

    .footer p {
        line-height: 40px;
    }

}
@media only screen and (min-width: 320px) and (max-width: 990px) {

.login-right-bg{ float: none; }
.login-inner-wraper
{ float: none;
width:100%;}
.login-right-botom{ margin-top: 0px;none;border-radius: 0px 0px 15px 15px }
.top-right, .login-inner-wraper{ border-radius:0px 0px 0px 0px}
.login-inner-wraper{box-shadow: none;border-radius:15px 15px 0px 0px
    }
.background-strip-top{ bottom:-132px;  }
.form-control{ width: 100%; }
.call-us {
  margin-bottom: 23px;
  margin-top: 31px;
}
    .site-wrapper {
  padding-bottom: 60px;
}

.login-left-bg{ float: left; width:100%;border-radius:15px 15px 0 0 ;  color: #333; }

.share-bottom{ background-image: none;  }
}

@media only screen and (min-width: 320px) and (max-width: 360px) {

.background-strip-top{ bottom:-100px;  }
.login-right-bg h3 {
  font-size: 22px;
}
.user-login {
  font-size: 18px;
}


}
@media screen and (max-width: 800px) {
    .login-inner-wraper{
        width: auto;
    }
    .signup-section {
        width: auto;
    }
   body .btn-black{ width:100%; }
}
.shakey {
  animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
  transform: translate3d(0, 0, 0);
  backface-visibility: hidden;
  perspective: 1000px;
}
@keyframes shake {
  10%, 90% {
    transform: translate3d(-1px, 0, 0);
  }
  
  20%, 80% {
    transform: translate3d(2px, 0, 0);
  }

  30%, 50%, 70% {
    transform: translate3d(-4px, 0, 0);
  }

  40%, 60% {
    transform: translate3d(4px, 0, 0);
  }
  }